body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    text-align: center;
    padding: 2rem;
    background-color: #640ac4;
    color: white;
}

.profile-photo {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

h1 {
    margin: 1rem 0;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

nav {
    background-color: #333;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 5rem;
     background-image: url('asset/bgm.jpg');
     background-size: 100% auto;
}

section {
    margin-bottom: 2rem;
}

.skills-container {
    display: flex;
    gap: 1rem;
}

.skill {
    background-color: #2004a9;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: white;
}
#contact-btn {
    padding: 0.5rem 1rem;
    background-color: #25b9c9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#contact-btn:hover {
    background-color: #0e90aa;
}
